<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/style_login.css')}}">
</head>

<body style="background-image: url({{url_for('static',filename='../static/imagenes/Rem Estudio Creativo-27.png')}}); background-size: cover; background-repeat: no-repeat;">
    <div class="center">
        <div class="contenedor-logo">
            <img src="{{url_for('static',filename='../static/imagenes/logo.png')}}"  style="width: 150px; height: 150px;">
        </div>
        <h1>Registrarse</h1>
        <form action="" method="POST">
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Usuario</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Contraseña</label>
            </div>
            <div class="txt_field">
                <input type="number" required>
                <span></span>
                <label>Credito</label>
            </div>
            <input type="submit" value="Registrarse" class="btnIniciar">
            <br><br>
        </form>
    </div>

</body>

</html>